DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# SQLite is used by default. Uncomment for PostgreSQL:
DB_ENGINE=postgresql
DB_NAME=cafe_de_paris
DB_USER=postgres
DB_PASSWORD=@gr1ff1n#
DB_HOST=localhost
DB_PORT=5432

# ZIMRA fiscal device API
ZIMRA_FISCAL_BASE_URL=http://192.168.100.8:5008
ZIMRA_DEFAULT_DEVICE_ID=30541
ZIMRA_SUBMIT_TIMEOUT=30
